<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <deny users="?" />
            <allow roles="Exam Creator" />
            <allow roles="Instructor" />
            <allow roles="Student" />
            <allow roles="Admin" />
            <deny users="*" />
        </authorization>
    </system.web>
</configuration>